global
    maxconn 100
    log /sidecar/log local0

defaults
    log global
    mode http
    option httpclose
    retries 5
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    bind *:82
    acl has_webclient path_beg /webclient
    acl has_webserver path_beg /webserver
    use_backend webclient if has_webclient
    use_backend webserver if has_webserver

    default_backend webclient

backend webclient
    balance roundrobin
    mode http
    option httpchk
    server webclient webclient:81  check

backend webserver
    balance roundrobin
    mode http
    option httpchk
    server webserver webserver:82 check